<div class="mb-8 flex justify-between items-center">
    <h2 class="relative pl-4 before:content-[''] before:absolute before:left-0 before:top-1/2 before:-translate-y-1/2 before:w-1.5 before:h-8 before:bg-linear-to-b before:from-emerald-400 before:to-emerald-700 before:rounded-full text-2xl md:text-3xl font-bold text-gray-800"> {{blackText()}} <span class="text-primary">{{decoratedText()}}</span></h2>
    <button class="text-primary font-medium cursor-pointer">see all <i class="fa-solid fa-arrow-right"></i></button>
</div>
